* {
    box-sizing: border-box;
    font-family: helvetica;
  }
  
  html, body {
    background-color: white;
  }

  .container {
    max-width: 1200px;
    height: 1200px;
    display: flex;
    padding: 5px; 
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0;
    box-shadow: grey;
    border-radius: 20%; 
  }



.left {
  width: 50%;
  height: 50%; 
  background: blue;
  border-radius: 20px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  box-shadow: 10px 10px grey;
  flex-grow: 1;
}

.left_header {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: purple;
}

.result {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;  
  border-radius: 50%;
  background: purple;
  color: white; 
  font-size: 30px;
  font-weight: 700; 
  flex-direction: column;
}

.result .h2 {
  font-size: 3rem;
  font-weight: 700; 
  color: white;
}

.left_grade {
  font-size: 25px;
  font-weight: 600;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 100%;
  flex-direction: column;
}

.grade-text{
  font-size: 30px;
  font-weight: 600;
  color: white;
  text-align: center;
}

.grade-description{
  font-size: 15px;
  font-weight: 400;
  color: white;
}

.right-summary { 
  width: 50%;
  height: 50%; 
  background: white;
  border-radius: 20px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 10px 10px grey;
  flex-grow: 1;
}

.right-summary {
  width: 50%;
  height: 50%; 
  font-size: 1rem;
  font-weight: 600;
  display:flex; 
  justify-content: space-around;
  color: black;
  align-items: center;
  text-align: center;
  height: auto;
  flex-direction: column;
  padding: 15px;
  gap: 10px;
}

.right-summary .reaction {
  background: red; 
  border-radius: 20px; 
  justify-content: space-around; 
  width: 100%; 
  text-align: left;  
  padding: 5px;
  gap: 5px; 
}

.right-summary .memory {
  background: orange; 
  border-radius: 20px; 
  justify-content: space-around; 
  width: 100%; 
  text-align: left;  
  padding: 5px;
  gap: 5px; 
}

.right-summary .verbal {
  background: green; 
  border-radius: 20px; 
  justify-content: space-around; 
  width: 100%; 
  text-align: left;  
  padding: 5px;
  gap: 5px; 
}

.right-summary .visual {
  background: purple; 
  border-radius: 20px; 
  justify-content: space-around; 
  width: 100%; 
  text-align: left; 
  padding: 5px;
  gap: 5px;  
}

.button .continue {
  width: 100%; 
  height: auto; 
  background: grey;
  border-radius: 20px; 
  transition: background 2s; 
  transition-delay: 1s; 
  padding: 5px;
  gap: 5px; 
}

.continue:hover {
  background: purple; 
}