* {
  box-sizing: border-box;
}

body {
  background: #eeeeee;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 600px;
  width: 100%;
  margin: 20px auto;
  background: #ffffff;
  border-radius: 25px;
  display: flex;
}

.result {
  width: 50%;
  padding: 30px 0;
  text-align: center;
  background: rgb(105,69,255);
  background: linear-gradient(180deg, rgba(105,69,255,1) 0%, rgba(51,44,232,1) 100%); 
  border-radius: 25px;
  color: #c9bafe;
}

.result .score {
  background: #442cde;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  padding: 25px;
}

.result h2 {
  font-size: 50px;
  margin: 0;
}

.result h2,
.result h3 {
  color: #ffffff;
}

.summary {
  width: 50%;
  padding: 30px;
}

.section-score {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.section-score h5 {
  margin: 0;
}

.section-score.reaction {
  background: #f7cdc9;
}

.section-score.reaction h5 {
  color: #c15e61;
}

.section-score.memory {
  background: #feeec9;
}

.section-score.memory h5 {
  color: #e4a939;
}

.section-score.verbal {
  background: #d3f9f5;
}

.section-score.verbal h5 {
  color: #229778;
}

.section-score.visual {
  background: #d4d4fb;
}

.section-score.visual h5 {
  color: #494fb8;
}

.summary button {
  display: block;
  width: 100%;
  border: none;
  background: #303b59;
  color: #ffffff;
  text-align: center;
  padding: 15px;
  border-radius: 25px;
  margin-top: 35px;
}